body {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans";
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "symbols-sedona";
    src: url("../fonts/symbols-sedona.woff") format("woff"), url("../fonts/symbols-sedona.woff2") format("woff2");
}
[class^="icon-"]::before,
[class*=" icon-"]::before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-sedona";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;
    speak: none;
}
.icon-check-off::before {
    content: "\2610";
}

/* "☐" */

.icon-check-on::before {
    content: "\2611";
}

/* "☑" */

.icon-calendar::before {
    content: "\e800";
}

/* "" */

.icon-plus::before {
    content: "\e801";
    position: absolute;
    top: 9px;
    right: 39px;
}

/* "" */

.icon-minus::before {
    content: "\e802";
}

/* "" */

.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.main-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
.main-navigation-list li {
    text-align: center;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.main-navigation-right {
    float: right;
}
.main-navigation a {
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
}
.main-navigation a:hover {
    color: #81b3d2;
}
.main-navigation a:down {
    opacity: 0.3;
}
.main-navigation a:active {
    color: #766357;
}
.main-navigation a:hover:active {
    color: #604e43;
}
.main-navigation a:down:active {
    color: #604e43;
}
.logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -68.5px;
}
.mountains {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.mountains img {
    width: 100%;
}
.intro {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -175px;
    z-index: 1;
}
h2 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}
p {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}
.block-title {
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
    margin: 0 100px;
    text-align: center;
}
.block-1 {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 0;
}
.block-text {
    width: 33.3%;
    padding: 40px 0;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    background-color: #81b3d2;
    display: inline-block;
    vertical-align: top;
}
.block-image {
    width: 66.7%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}
.feature-item {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    text-align: center;
}
.feature-item .feature {
    width: 24%;
    margin: 0;
    padding: 0 4.55%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.container-2 {
    background: #eeeeee;
    padding: 40px 0;
}
.block-2 {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 0;
}
.block-1 p,
.block-2 p {
    margin: 28px 45px 0;
    color: #ffffff;
}
.reservation-index {
    width: 575px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    background: white;
    position: relative;
    z-index: 2;
}
.reservation-interes {
    font-size: 30px;
    font-weight: bold;
}
.reservation-title {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 32px;
    margin: 0 auto;
    margin-top: 50px;
    background: #766357;
}
.form-index {
    padding: 55px;
}
.form-cell {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}
.form-text {
    display: inline-block;
    vertical-align: top;
    width: 115px;
    /* height: 6px; */
    padding-top: 10px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-align: left;
}
.form-text-child {
    text-align: center;
}
.form-cell-quantity {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}
#calendar {
    display: inline-block;
    vertical-align: top;
    width: 318px;
    padding: 6px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000;
    font-family: "PT Sans";
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
    outline: none;
}
.icon-calendar {
    content: "\e800";
    position: absolute;
    font-size: 21px;
    font-weight: normal;
    width: 10px;
    height: 10px;
    color: #a9a9a9;
}
.form-cell-date-entry .icon-calendar {
    top: 311px;
    right: 91px;
}
.form-cell-date-exit .icon-calendar {
    top: 380px;
    right: 91px;
}
input [type="date"] {
    display: none;
}
.icon-plus {
    content: "\e801";
    position: absolute;
    font-size: 14px;
    color: #a9a9a9;
}
.form-cell-quantity1 .icon-plus {
    top: 448px;
    left: 315px;
}
.form-cell-quantity2 .icon-plus {
    top: 448px;
    left: 550px;
}
.icon-minus {
    content: "\e802";
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    color: #a9a9a9;
}
.form-cell-quantity1 .icon-minus {
    top: 452px;
    left: 185px;
}
.form-cell-quantity2 .icon-minus {
    top: 452px;
    left: 418px;
}
#quantity {
    display: inline-block;
    vertical-align: top;
    width: 85px;
    padding: 7px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: #000;
    font-family: "PT Sans";
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
    outline: none;
}
#find {
    width: 100%;
    color: #fff;
    font-size: 21px;
    line-height: 26px;
    padding: 17px;
    margin-top: 25px;
    background: #81b3d2;
    border: none;
}
.map {
    margin: 0 auto;
    margin-top: -405px;
    text-align: center;
    z-index: 1;
}
.sorting {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    background: url("../img/mountains-blurry.jpg") no-repeat;
}
.sorting-content {
    padding: 30px 75px;
}
.sorting-type {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 21px;
    color: white;
}
.type-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: white;
}
#checkbox {
    display: none;
}
label {
    cursor: pointer;
}
.sorting-check {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    font-size: 16px;
    line-height: 21px;
    color: white;
    padding: 10px 0;
    padding-left: 40px;
    text-decoration: none;
    cursor: pointer;
}
.sorting-check::before {
    content: "\2610";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 24px;
    height: 24px;
    font-family: "symbols-sedona";
    font-size: 21px;
}
.sorting-check:checked {
    content: "\2611";
}
.sorting-price {
    width: 330px;
    margin-left: 200px;
    display: inline-block;
    vertical-align: top;
}
.finded {
    width: 1050px;
    margin: 0 auto;
    padding: 20px 75px;
    border-bottom: 2px solid #e5e5e5;
}
.finded-item {
    width: 140px;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
}
.finded-sorting {
    width: 600px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 18px;
}
.sorting-critery {
    width: 400px;
    margin-top: 23px;
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}
.sorting-critery li {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    color: #000;
    opacity: 0.3;
    text-align: center;
    text-decoration: none;
}
.sorting-critery a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #000;
}
.sorting-critery a:active {
    opacity: 1;
}
.sorting-critery a:hover {
    color: #81b3d2;
    opacity: 1;
}
.critery-active a {
    color: #81b3d2;
    opacity: 1;
}
.sorting-title {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
}
.icon {
    float: right;
    margin-left: 10px;
    color: #cccccc;
}
.icon:hover {
    color: #000;
}
.icon:active {
    color: #81b3d2;
}
.icon-down {
    color: #81b3d2;
    display: inline-block;
    vertical-align: top;
}
.icon-up {
    display: inline-block;
    vertical-align: top;
}
.hotels {
    width: 1200px;
    margin: 0 auto;
}
.hotel {
    padding: 30px 75px;
    border-bottom: 2px solid #e5e5e5;
}
.hotel-img {
    width: 150px;
    display: inline-block;
    vertical-align: top;
}
.hotel-description {
    width: 300px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}
.hotel-description h2 {
    margin: 0 auto;
}
.hotel-description h2:hover {
    color: #81b3d2;
}
.hotel-description h2:down {
    opacity: 0.3;
}
.hotel-type {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
}
.hotel-price {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
}
.hotel-raiting {
    float: right;
    text-align: right;
}
.raiting-stars {
    font-size: 17px;
    line-height: normal;
    color: #81b3d2;
}
.raiting-vote {
    width: 110px;
    padding: 7px;
    font-size: 14px;
    line-height: 21px;
    line-height: normal;
    color: #666666;
    text-align: center;
    background: #f2f2f2;
}
.hotel-type {
    width: 110px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
.hotel-price {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}
.more {
    width: 110px;
    background: #81b3d2;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    padding: 4px 0;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
.more:hover {
    background: #669ec0;
}
.more:down {
    background: #5496bd;
    opacity: rbga(255, 255, 255, 0.3);
}
.reserve {
    width: 145px;
    background: #766357;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    display: inline-block;
    vertical-align: top;
}
.reserve:hover {
    background: #604e43;
}
.reserve:down {
    background: #503e33;
    opacity: rbga(255, 255, 255, 0.3);
}
.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}
.main-footer {
    width: 1200px;
    margin: 0 auto;
    padding: 24px 0;
    text-align: center;
}
.main-footer-index {
    background-color: rgba(253, 253, 253, 0.9);
    position: relative;
    z-index: 2;
}
.footer-contacts {
    width: 33%;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    padding: 7px 0;
}
.footer-social {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}
.social-btn {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 22px;
    margin: 0 3px;
    padding: 14px;
    font-size: 0;
    background: #81b3d2 url("../img/sprite.png") no-repeat;
    text-decoration: none;
}
.social-btn:hover {
    background-color: #669ec0;
}
.social-btn:active {
    background-color: #5496bd;
    opacity: 0.3;
}
.social-btn-twitter {
    background-position: 7px -159px;
}
.social-btn-facebook {
    background-position: 10px -81px;
}
.social-btn-youtube {
    background-position: 5px -196px;
}
.social-btn-twitter:hover {
    background-position: 7px -159px;
}
.social-btn-facebook:hover {
    background-position: 10px -81px;
}
.social-btn-youtube:hover {
    background-position: 5px -196px;
}
.social-btn-twitter:active {
    background-position: 7px -159px;
}
.social-btn-facebook:active {
    background-position: 10px -81px;
}
.social-btn-youtube:active {
    background-position: 5px -196px;
}
.footer-copyright {
    width: 33%;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
}
.htmlacademy {
    width: 85px;
    color: #000;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    padding: 7px 0;
}
#htmlacademy-logo {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 41px;
    font-size: 0;
    background: url("../img/htmlacademy.png") no-repeat center;
    text-decoration: none;
    color: #5496bd;
}
#htmlacademy-logo:hover {
    color: #5496bd;
}
#htmlacademy-logo:active {
    color: #bdbbbc;
}
