body {font-size: 14px;
      line-height: 21px;
      color: #333333;
      font-weight: normal;
    font-family: PT Sans Regular;}
h2 {font-size: 21px;
      line-height: 26px;
      color: #000000;
      font-weight: bold;
    font-family: PT Sans Bold;}
.block-title {font-size: 21px;
      color: #ffffff;
      font-weight: bold;
    font-family: PT Sans Bold;}
.block-1 {font-size: 14px;
      line-height: 21px;
      color: #ffffff;
      font-weight: normal;
      font-family: PT Sans Regular;
      background-color: #81b3d2;}
.block-2 {font-size: 14px;
      line-height: 21px;
      color: #ffffff;
      font-weight: normal;
      font-family: PT Sans Regular;
      background-color: #81b3d2;}